@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "material-icons/iconfont/material-icons.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  text-align: center;
  background-color: #f8f8ff;
  font-family: Libre Franklin,-apple-system,BlinkMacSystemFont,Roboto,Droid Sans,Helvetica,Arial,sans-serif;
}

*, ::before, ::after {
  border-style: none;
}

mat-card-title {
  text-align: left;
}
